NEXT_PUBLIC_APP_URL=http://localhost:3000

NEXT_PUBLIC_SUPABASE_URL=https://xitqsklglksotfcxstjh.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhpdHFza2xnbGtzb3RmY3hzdGpoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA0Mzg1NjQsImV4cCI6MjEwNjAxNDU2NH0.3iqddcGxaIlhfW8zm5vxkD3h_TRBFpBV3ZJ8C21BoCM
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhpdHFza2xnbGtzb3RmY3hzdGpoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc5MDQzODU2NCwiZXhwIjoyMTA2MDE0NTY0fQ.VeCLTCZ3L1L8dWtij4dLEe1kjPx33YRAjd6Aeppg1mI

NEXT_PUBLIC_RAZORPAY_KEY_ID=rzp_test_Tgl1vwFfQzq86i
RAZORPAY_KEY_ID=rzp_test_Tgl1vwFfQzq86i
RAZORPAY_KEY_SECRET=x0TYbBmrfCVHKO0psuGXUFUj
RAZORPAY_WEBHOOK_SECRET=your-webhook-secret
